.section
  .slide.flex-1#concert
    .title 
      .head 
      p 新增待辦事項
    .List
      .upblur
      form.form
        .row
          .label 事件名稱
          input.input([(ngModel)]="name",required)
        .row
          .label 選擇日期與時間
          input.input(type="datetime-local",[(ngModel)]="date",required)
        .row
          .label 是否為特別重要
          .toggle((click)="borrowClick = !borrowClick",[class.click]="borrowClick",required)
            .round()
        .row
          .label 事件緊迫度
          select.input([(ngModel)]="urgent",required)
            option(disabled,selected) --選擇緊迫度--
            option 沒事
            option 普通
            option 夭壽
            option 真的夭壽
        .row
          .label 選擇用譜
          input(type="file",(change)="uploadNewScore($event)",multiple,required)
        .preview
          //- 這邊加入ngif，如果顯現才出現
          .label 預覽
          .container
            ng-template(ngFor="",let-item="",[ngForOf]="listitem",let-i="index")
              .scoreitem([style.backgroundImage]='item.url',style="background-size:cover",[id]="i")
                .remove((click)="remove(item.index)")
                  .up
                  .down
      .foot
        .button((click)="submit()") 提交
        .button.cancel 取消
          