.section {
  padding: 0.2em;
  display: flex;
  box-sizing: border-box;
  .slide {
    background: rgba(0, 0, 0, 0.4);
    overflow-y: scroll;
    margin: 0.4em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    .title {
      display: flex;
      align-items: flex-end;
      font-size: 2em;
      letter-spacing: 4px;
      margin-left: 10px;
      margin-right: 10px;
      padding-bottom: 5px;
      color: white;
      border-bottom: 2px solid #ddd;
      box-sizing: border-box;
      .head {
        background: #E5D650;
        height: 4px;
        width: 0.7em;
        margin-bottom: 7px;
        margin-right: 0.5em;
      }
    }
  }
  .flex-1 {
    flex: 1;
  }
  .flex-2 {
    flex: 2;
  }
  .flex-3 {
    flex: 3;
  }
  .foot {
    margin: 15px;
    display: flex;
    justify-content: center;
    .button {
      margin: 4px 6px;
      border-top-left-radius: 18px;
      border-bottom-right-radius: 18px;
      padding: 1em 2em;
      color: white;
      background: #333; // box-shadow: 3px 3px 8px #666;
    }
    .cancel {
      border-top-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-right-radius: 18px;
      border-bottom-left-radius: 18px;
    }
  }
}

.form {
  display: flex;
  margin: 10px;
  flex-direction: column;
  box-sizing: border-box;
  .row {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding: 1em 4px;
    margin-left: 90px;
    .label {
      width: 80px;
      display: flex;
      align-items: center;
      padding-left: 16px;
      color: white;
      margin-right: 15px;
    }
    .input {
      border: none;
      outline: none;
      width: 50vw;
      border-radius: 10px;
      padding: 10px 10px;
      font-size: 1em;
    }
    .typenum {
      border: none;
      outline: none;
      width: 10vw;
      border-radius: 10px;
      padding: 10px 10px;
      font-size: 1em;
    }
  }
  .preview {
    margin-left: 90px;
    padding: 1em 4px;
    .label {
      width: 80px;
      display: flex;
      align-items: center;
      padding-left: 16px;
      color: white;
      margin-right: 15px;
      margin-bottom: 10px;
    }
    .container {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
    }
  }
}

.toggle {
  position: relative;
  width: 60px;
  height: 30px;
  border-radius: 50px;
  background: white;
  .round {
    position: relative;
    top: 2px;
    left: 2px;
    background: black;
    height: 26px;
    width: 26px;
    border-radius: 50%;
    transition: background .8s, left .5s;
  }
  &.click {
    background: black;
    .round {
      left: 30px;
      background: #dff;
    }
  }
}

.scoreitem {
  background-size: 10%;
  background-repeat: no-repeat;
  position: relative;
  margin-bottom: 20px;
  margin-right: 30px;
  width: 10em;
  height: 14em;
  background: white;
  left: 0px;
  top: 0px;
  transition: left .2s, top .2s;
  .remove {
    opacity: 0;
    visibility: hidden;
    position: relative;
    left: -10px;
    top: -10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background: #ccc;
    transition: opacity .2s, visibility .2s;
    .up {
      width: 10px;
      height: 10px;
      border-bottom: 1px solid black;
      border-right: 1px solid black;
      transform: rotate(45deg);
    }
    .down {
      width: 10px;
      height: 10px;
      margin-top: 3px;
      border-top: 1px solid black;
      border-right: 1px solid black;
      transform: rotate(-45deg);
    }
  }
  &:hover {
    position: relative;
    top: -0.5em;
    left: -0.5em;
    width: 11em;
    height: 15em;
    margin-right: 14px;
    margin-bottom: 0px;
    .remove {
      opacity: 1;
      visibility: visible;
    }
  }
}

.plus {
  box-sizing: border-box;
  background: none;
  border-style: dotted;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 1em;
  .plus-container {
    display: flex;
    align-items: center;
    .plus-up {
      background: #F2F2F2;
      height: 15px;
      width: 70px;
    }
    .plus-down {
      position: relative;
      left: -42px;
      background: #F2F2F2;
      height: 70px;
      width: 15px;
    }
  }
}