.content {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .container {
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 5px 5px 5px #111;
    .head {
      color: white;
      padding: 0.5em 4em;
      background: rgba(0, 0, 0, 0.5);
      font-size: 2em;
    }
    .account,
    .password {
      padding: 1em;
      input {
        color: white;
        width: 100%;
        text-align: center;
        background: rgba(0, 0, 0, 0.5);
        border: none;
        outline: none;
        padding: 0.8em 2px;
        border-radius: 5px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
      }
    }
    .login {
      padding: 1em;
      padding-top: 0;
      .loginbutton {
        width: 50px;
        height: 50px;
        transition: all .5s;
        &:hover {
          filter: invert(100%);
        }
      }
    }
  }
}