.section
  .slide.flex-1#concert
    .title 
      .head 
      p 設定個人資料
    .List
      .upblur
      form.form
        .row
          .label 密碼
          .button 修改密碼
        .row
          .label 名稱
          input.input(type="string",required,value="陳約銘")
        .row
          .label 性別
          .toggle((click)="borrowClick = !borrowClick",[class.click]="borrowClick",required)
            .round()
.section
  .slide.flex-1#concert
    .title 
      .head 
      p 再次確認密碼
    .List
      .upblur
      form.form
        .row
          .label 再次輸入密碼
          input.input([(ngModel)]="name")
      .foot
        .button((click)="submit()") 修改
        .button.cancel 取消
          