.icon
  img(src="assets/img/no_authorize_mountain.jpg")
  .display
    img(src="assets/img/displayphoto.jpg",(click)="settingDisplay = !settingDisplay")
    .list([class.active]="settingDisplay")
      .head
      .item
        .content(routerLink="setting",(click)="settingDisplay=false") 設定
//- .item#home([class.selected]="contains('home')",(click)="tabClick($event)",routerLinkActive="active", routerLink="home") 主頁
//- .title 樂譜管理
//- .item#scoresheet([class.selected]="contains('scoresheet')",(click)="tabClick($event)",routerLinkActive="active", routerLink="createscore") 新增樂譜
//- .item#all([class.selected]="contains('all')",(click)="tabClick($event)",routerLinkActive="active", routerLink="viewallscore") 查看樂譜
//- .title 設定
//- .item#setting([class.selected]="contains('setting')",(click)="tabClick($event)") 改個資料
.title 待辦事項
.item#todolist([class.selected]="contains('todolist')",(click)="tabClick($event)", routerLink="todolist") 主頁
.item#createnewitem([class.selected]="contains('createnewitem')",(click)="tabClick($event)" routerLink="createnewitem") 增加待辦事項
.title 設定
.item#setting([class.selected]="contains('setting')",(click)="tabClick($event)",routerLink="setting") 改個資料