@import './colours';
ym-tab {
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: #5A5353;
  .icon {
    img {
      width: 100%;
    }
    .display {
      img {
        position: absolute;
        border-radius: 50%;
        width: 3.3em; // height: 30%
        left: 1em;
        top: 4em;
      }
    }
  }
  .title {
    padding-top: 0.3em;
    padding-left: 1em;
    color: $black;
    font-size: 0.7em;
  }
  .item {
    font-size: 0.8em;
    padding: 1em;
    color: white;
    outline: none;
    transition: color ease-in 0.3s;
    &:hover {
      color: #333;
    }
    &.selected {
      &:before {
        left: 0%;
        content: " ";
        position: absolute;
        background: white;
        height: 2em;
        width: 3px;
      }
    }
  }
}