.icon
  img(src="assets/img/no_authorize_mountain.jpg")
  .display
    img(src="assets/img/displayphoto.jpg")
.item#home([class.selected]="contains('home')",(click)="tabClick($event)",routerLinkActive="active", routerLink="home") 主頁
.title 樂譜管理
.item#scoresheet([class.selected]="contains('scoresheet')",(click)="tabClick($event)",routerLinkActive="active", routerLink="createscore") 新增樂譜
.item#all([class.selected]="contains('all')",(click)="tabClick($event)",routerLinkActive="active", routerLink="viewallscore") 查看樂譜
.title 設定
.item#setting([class.selected]="contains('setting')",(click)="tabClick($event)") 改個資料
//- .title 待辦事項
//- .item#todolist([class.selected]="contains('todolist')",(click)="tabClick($event)") 觀看全部
//- .item#setting([class.selected]="contains('setting')",(click)="tabClick($event)") 增加待辦事項