.section
  .slide.flex-1#concert
    .title 
      .head 
      p 近期音樂會
    .List
      .upblur
      .item
        .dot-line 
          .line.first
          .dot
          .line
        .content 2017.2.4 大兵日記
      .item
        .dot-line 
          .line
          .dot
          .line
        .content 2017.7.15 阿甘正傳
      .item
        .dot-line 
          .line
          .dot
          .line
        .content 2017.8.16 玄武是我交響曲
      .item
        .dot-line 
          .line
          .dot
          .line.last
        .content 2017.9.14 德國交響詩
      .downblur
    .context
  .slide.flex-1
    .title 
      .head 
      p 提醒事項