.section {
  padding: 0.2em;
  display: flex;
  box-sizing: border-box;
  .slide {
    background: rgba(255, 255, 255, 0.6);
    overflow-y: scroll;
    margin: 0.4em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    .title {
      display: flex;
      align-items: flex-end;
      font-size: 2em;
      letter-spacing: 4px;
      margin-left: 10px;
      margin-right: 10px;
      padding-bottom: 5px;
      color: white;
      border-bottom: 1px solid #888;
      box-sizing: border-box;
      .head {
        background: #E5D650;
        height: 4px;
        width: 0.7em;
        margin-bottom: 7px;
        margin-right: 0.5em;
      }
    }
  }
  .flex-1 {
    flex: 1;
  }
  .flex-2 {
    flex: 2;
  }
  .flex-3 {
    flex: 3;
  }
}

.List {
  display: flex;
  flex-direction: column;
  padding: 14px;
  .item {
    display: flex;
    flex-direction: row;
    padding: 0px 4px;
    .dot-line {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-right: 10px;
      .dot {
        width: 14px;
        height: 14px;
        background: black;
        margin-bottom: 0px;
        border-radius: 50%;
      }
      .line {
        height: 20px;
        width: 4px;
        background: black;
        &.first {
          border-top-left-radius: 42%;
          border-top-right-radius: 42%;
        }
        &.last {
          border-bottom-left-radius: 42%;
          border-bottom-right-radius: 42%;
        }
      }
    }
    .content {
      display: flex;
      align-items: center;
    }
  }
}

.section {
  .card {
    display: flex;
    flex-direction: column;
    background: none;
    .head {
      color: white;
      background: rgba(255, 255, 255, 0.2);
      padding: 4px;
      padding-left: 1em;
      font-size: 1em;
    }
    .content {
      display: flex;
      justify-content: center;
      font-size: 2.5em;
      padding: 5px;
      background: rgba(255, 255, 255, 0.4);
      &.normal {
        color: #3E78B2;
      }
      &.danger {
        color: #FF6B35;
      }
    }
    .foot {
      font-weight: lighter;
      color: white;
      padding: 4px;
      padding-left: 1em;
      font-size: 0.7em;
      background: rgba(255, 255, 255, 0.2);
      display: flex;
      justify-content: flex-end;
      padding-right: 1em;
    }
  }
}