.section
  .slide.flex-3
    .title 
      .head 
      p 音樂會快報
    .context
      h2 音樂會名稱 大王一直跳
      h3 演出單位 三國愛樂
      h3 演出地點 赤壁鎖鏈廳
      h3 演出時間 汉献帝建安十三年六月十八號丑時
      h3 售票資訊 無售票，著魏國兵服即可進入
      h3 演出曲目 大三國交響曲全曲
  .slide.flex-1
    .title 
      .head 
      p 提醒事項